<div class="container">
    <div class="header">
        <img id="logo" src="logo.jpg" alt="Yay-Yay's Custom Creations">
        <h1 id="headline">Passion and Sublimation</h1>
        <button class="headlineBtn" (click)="onSubmitHome()">Home</button>
        <button class="headlineBtn" (click)="onSubmitProducts()">Products</button>
    </div>
    
    <div class="wspaceL"></div>
    
    <div class="wspaceR"></div>
    
    <div class="footer">

    </div>
    
    <div class="content">
        <h2 class="aboutSection">
            A simple hobby has transformed into a full-fledged business, driven by a love for creativity and design. While at home with my son as my husband pursued his education to become a software engineer, I discovered the art of sublimation and quickly fell in love with the endless possibilities it offers. From custom tumblers and shirts to keychains, earrings, flags, spinners, and more, I take pride in creating products that not only look great but also hold sentimental value. Each creation is a reflection of my dedication to quality and craftsmanship. Discover our unique creations on the Products Page, and let us help you find the perfect personalized item.
        </h2>
    </div>

</div>
    <div class="imgContainer">
    <img src="Cow.jpg" alt="Cow Mousepad" id="cow" (click)="onSubmitProducts()">
        <img src="Keychains.jpg" alt="Keychains for TCSS" id="kc" (click)="onSubmitProducts()">
        <img src="Tree.jpg" alt="Tree Spinner" id="tree" (click)="onSubmitProducts()">
        <img src="TwistedMan.jpg" alt="Twisted Stache Man" id="TwistedMan" (click)="onSubmitProducts()">
    </div>