.productDetails {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15% 15% 15%;
    margin: 0;
    border: 2px solid rgb(238, 237, 237);

    max-height: 120vh;
    overflow-y: auto;
}

@media (max-width: 600px) {
    .custom-modal .mat-dialog-container {
        width: 100vw;
        height: auto;
        margin: 0;
    }
}

#proName {
    text-shadow: 1px 1px rgb(238, 237, 237);
    font-size: xx-large;
}

#proDesc {
    text-shadow: 1px 1px rgb(238, 237, 237);
    font-size: larger;
    text-align: center;
    line-height: 1.6;

}

.productImg {
    margin-bottom: 10%;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgb(238, 237, 237), 0 6px 20px 0 rgb(238, 237, 237);
}

.closeBtn {
    width: 5%;
    height: auto;
    background: none;
    border: none;
    font-size: x-large;
    padding: 3%;
    /* margin-right: 2%; */
}

.OrderBtn {
    margin: 0 20% 20% 20%;
    padding: 0 1% 1% 1%;
    border-radius: 30%;
    background-color: rgb(191, 253, 255);
}

