<div class="container">
    <div class="header">
    </div>

    <div class="wspaceL"></div>

    <div class="wspaceR"></div>

    <div class="footer">

    </div>

    <div class="content">

        <div *ngFor="let product of products" class="product-card">
            <div class="card">
                <img src="{{ product.imageUrl }}" alt="{{ product.name }}" style="width:100%">
                <h2>{{ product.name }}</h2>
                <p class="price">$6.99</p>
                <p>A custom design to make an ordinary gift extraordinary.</p>
                <p><button (click)="openProductDetail(product)">More Info</button></p>
            </div>

        </div>

    </div>

</div>