<div class="container">
    <div class="header">
        <h1 class="headline">Our Custom Creations</h1>
    </div>

    <div class="wspaceLProduct"></div>

    <div class="wspaceRproduct"></div>

    <div class="content">

        <div *ngFor="let product of products" class="product-card" (click)="openProductDetail(product)">
            <div class="card">
                <img src="{{ product.imageUrl }}" alt="{{ product.name }}" style="width:100%" class="cardImg">
                <h2>{{ product.name }}</h2>
                <p class="price">${{ product.price }}</p>
                <!-- <p>A custom design to make an ordinary gift extraordinary.</p> -->
                <p><button (click)="openProductDetail(product)">More Info</button></p>
            </div>

        </div>

    </div>

    <div class="footerProduct">

    </div>

</div>