<div class="container">
    <div class="header">
        <img id="logo" src="logo.jpg" alt="Yay-Yay's Custom Creations">
        <h1 id="headline">Yay-Yay's Custom Creations</h1>
        <button class="headlineBtn" (click)="onSubmitAbout()">About</button>
        <button class="headlineBtn" (click)="onSubmitProducts()">Products</button>
    </div>

    <div class="wspaceL"></div>

    <div class="wspaceR"></div>

    <div class="footer">

    </div>

    <div class="content">
        <img src="TS_Cups.jpg" alt="Twisted Stache Cup Designs" 
            class="tsCups" (click)="onSubmitProducts()">
        <p id="tcss">These products were made for The Twisted Stache Coffee and Creamery (TSCC).
            The logo's used are under ownership of TSCC.
        </p>
    </div>

  </div>