body {
    /* background: #0cebeb; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url('../../../public/pattern.png');
}

.container {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr 1.8fr 0.2fr;
    grid-template-rows: 1fr 1fr 1fr 1.8fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header"
        "wspaceL content content wspaceR"
        "wspaceL content content wspaceR"
        "wspaceL content content wspaceR"
        "wspaceL footer footer wspaceR";
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

#headline {
    text-shadow: 1px 1px rgb(238, 237, 237);
    padding-top: 1em;
    margin: 0 auto;
    font-size: 350%;
}

#logo {
    height: 7em;
    width: auto;
    margin-right: auto;
    /* moves to left */
}

.headlineBtn {
    padding: 1%;
    margin: 0 1% 0 1%;
    background: #46bdff;
    border-radius: 50%;
    border-color: rgb(238, 237, 237);
}

.headlineBtn:hover {
    background-color: #009dff;
    cursor: pointer;
}

.wspaceL {
    grid-area: wspaceL;
}

.wspaceR {
    grid-area: wspaceR;
}

.footer {
    grid-area: footer;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;

}

.tsCups {
    width: auto;
    height: auto;
}

.tsCups:hover {
    cursor: pointer;
}

#tcss {
    font-size: 70%;
}