<div class="container">
    <div class="header">
        <h1 id="headline">Yay-Yay's Custom Creations</h1>
    </div>

    <div class="wspaceL"></div>

    <div class="wspaceR"></div>

    <div class="footer">
    
    </div>

    <div class="content">
        <img src="TS_Cups.jpg" alt="Twisted Stache Cup Designs" 
            class="tsCups" (click)="onSubmitProducts()">
        <p id="tcss">*These products were made for The Twisted Stache Coffee and Creamery (TSCC).
            The logo's used are under ownership of TSCC.
        </p>
    </div>

  </div>